#customer_acc{
    width: 80vw;
    padding: 100px 10vw 100px 10vw;
    background: var(--su-bg);
    color: var(--ma-bg);
    opacity: 0;
    transition: 2s;
    position: relative;
}

#customer_acc_header{
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 50px;
}

#customer_acc_video{
    width: 100%;
    height: 80vh;
    background-color: var(--ma-bg);
    margin-bottom: 90px;
}


#customer_acc_text{
    width: 100%;
    height: 50vh;
}

@media (max-width: 550px) {
    #customer_acc{
        width: 90vw;
        padding: 60px 5vw;
        margin-top: 70px;
    }
    #customer_acc_video{
        height: 250px;
    }
}