#strength{
    width: 90vw;
    padding: 80px 5vw;
}
#strength .information_header{
    font-size: 2.3em;
}

#strength_frame{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.strength_item{
    width: 20%;
    /* background: var(--su-bg-gradient2); */
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    /* border: 1px #000 solid; */
}

.strength_item_img{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strength_item_img img{
    width: 16em;
    height: 16em;
    object-fit: contain;
}

.strength_item_text{
    height: 50px;
    width: 100%;
    font-size: 2.5em;
    font-family: var(--cabin-sans);
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;
}


@media (max-width: 750px) {
    .strength_item{
        width: 48%;
    }
}
@media (max-width: 550px) {
    #strength{
        width: 90vw;
        padding: 50px 5vw;
    }
    #strength_frame{
        justify-content: space-around;
    }
    .strength_item{
        width: 45%;
        margin-bottom: 50px;
    }
    .strength_item_img{
        height: 17em;
    }
    .strength_item_img img{
        width: 14em;
        height: 14em;
    }
    
.strength_item_text{
    font-size: 2.6em;
}
}
