---
title: FAQ | Jaskin Tech - Web Design and Development
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include base_head.html %}
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/content.css">
    <meta name="robots" content="noindex">
</head>
<body>
    {% include default_nav.html %}
    <main>
        <section id="hero_section">
            <div id="hero_section_text">
                <h1>How can we help?</h1>
                <h2>
                    If you're getting started with us or are looking for clarification on our methods, this page
                    will help you learn more about our services and processes.
                </h2>
                <p>
                    We aim to address your real concerns. If you didn't find the answer to your question <a href="/contact/" style="color: var(--at-bg);">Contact Us</a>.
                </p>
            </div>
            <div id="hero_section_img"><img src="/images/faq4.png" alt="stock illustration of a man and woman having a conversation"></div>
        </section>

        <section id="content">
            <div id="faq_nav">
                <div class="item faq_nav_current" onclick="display_faq_section('getting_started', this)"><p>Getting started with us</p></div>
                <div class="item" onclick="display_faq_section('development_process', this)"><p>Website Development process</p></div>
                <div class="item" onclick="display_faq_section('website_maintanance', this)"><p>Website Maintanance</p></div>
                <div class="item" onclick="display_faq_section('seo_section', this)"><p>Search Engine Optimization(SEO)</p></div>
                <div class="item" id="last_nav" onclick="display_faq_section('payments', this)"><p>Payments</p></div>
            </div>
            <div id="faq_section">
                <div class="faq_section_item faq_current" id="getting_started">
                    <div class="faq_section_header"><h3>Getting started with us</h3></div>

                    <div class="faq_section_content">

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How do we begin work on my project?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    To kick off our collaboration, the first step is to reach out - whether it's a call from you, an email, or we proactively contact you. 
                                    During our initial meeting, we'll exchange greetings and delve into the specific services you're looking for.
                                </p>
                                <p>
                                    After that, we'll schedule a video call, leveraging visual elements to gain a deeper understanding of your project. 
                                    This allows us to discuss crucial details such as project scope, depth, timeline, and pricing, ensuring a comprehensive and successful partnership.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>What communication channels do we use?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    At Jaskin Tech, we prioritize high availability and transparency in our collaboration. 
                                    Our primary communication methods include
                                </p>
                                <ul>
                                    <li>Emails</li>
                                    <li>Instant Messaging</li>
                                    <li>Phone Calls</li>
                                    <li>Video Calls</li>
                                    <li>Social Media Platforms (If Applicable)</li>
                                </ul>
                                <p>We leverage the most convenient of these methods to ensure effective communication throughout our partnership.</p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Will we sign a formal Contract?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    In most cases, <strong>Yes</strong>. A contract serves as a formal agreement that outlines the expectations and responsibilities of both you, the client and us, the web agency. It can specify the scope of work, deliverables, timelines, and payment terms.
                                </p>
                                <p>
                                    A well-drafted contract provides legal protection for both of us. It establishes a clear framework for our project, helping to mitigate potential disputes and misunderstandings.
                                    These contracts often address the ownership of intellectual property, ensuring clarity on who owns the rights to the final deliverables.
                                </p>
                                <a href="">Read more on why a formal contract is essential.</a>
                        
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How do I convey what I'm looking for and what I want?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    Communicating your vision effectively is crucial. We recommend starting with a comprehensive discussion where you 
                                    can share your goals, preferences, and any specific features you have in mind. Providing examples or references 
                                    for websites you admire can also be helpful. 
                                </p>
                                <p>
                                    Additionally, we conduct a detailed requirements gathering session 
                                    to ensure a thorough understanding of your needs. Throughout the process, we encourage open and clear communication 
                                    to refine the vision and bring your ideas to life successfully.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Why are you so cheap?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    We prioritize high-quality web solutions at competitive rates, achieved through efficiency and strategic resource management. 
                                    Our transparent pricing ensures value, and we're open to tailoring services to meet your specific budget constraints.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Why are you so expensive?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    Thank you for your inquiry. At Jaskin Tech, we aim for excellence. Our prices may be higher, but they guarantee top-notch expertise and results that last.
                                    Our value lies in the robust, long-term solutions we provide. 
                                    We're open to discussing your needs and finding a tailored solution that aligns with your budget and goals.
                                </p>
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Where are you located?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                                <p>
                                    Although we are based in Ghana, we operate as a remote web agency, allowing our team to collaborate effectively from diverse locations. 
                                    This remote approach enables us to deliver top-notch services while offering the flexibility to work with clients worldwide.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="faq_section_item" id="development_process">
                    <div class="faq_section_header"><h3>Website development process</h3></div>
                    <div class="faq_section_content">

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How long does it take to build a website?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Are we going to give a mock up?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How to keep track of progress</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>What will you need from me?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content">
                            </div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Will you write the text for me?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How do you build my website?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Who owns the website once it's paid for?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Will you buy stock images for me?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Do i actually need a website?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Actually, I know nothing about websites. How does this website process work?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Who will I work with during the project?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>How do you back up my website?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Are your designs premade templates?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header>Will my website be mobile friendly?</header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>
                        
                    </div>
                </div>
                <div class="faq_section_item" id="website_maintanance">
                    <div class="faq_section_header"><h3>Website Maintanance</h3></div>
                    <div class="faq_section_content">

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header></header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>
                    </div>
                </div>
                <div class="faq_section_item" id="seo_section">
                    <div class="faq_section_header"><h3>Search Engine Optimization</h3></div>
                    <div class="faq_section_content">
                        
                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header></header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                    </div>
                </div>
                <div class="faq_section_item" id="payments">
                    <div class="faq_section_header"><h3>Payments</h3></div>
                    <div class="faq_section_content">

                        <div class="faq_topic">
                            <div class="faq_topic_header">
                                <header></header>
                                <ion-icon name="add-circle-outline"></ion-icon>
                            </div>
                            <div class="faq_topic_content"></div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
    {%include footer.html%}
    <script src="/js/nav.js"></script>
    <script src="js/app.js"></script>
</body>
</html>