---
title: Jaskin Tech - Web Design and Development
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include base_head.html %}
    <meta property="og:title" content="Jaskin Tech - Web Design and Development in Ghana">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://jaskin.tech/logo.ico">
    <meta property="og:description" content="Create your online space with convenience and no stress. We offer the best web design & development services in Ghana">
    <meta property="og:site_name" content="Jaskin Web Development">
    <meta property="og:url" content="https://jaskin.tech">
    <link rel="stylesheet" href="css/hero_section.css">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/strength.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/explore.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    {% include default_nav.html %}
    <main>
        <section id="hero_section">
            <!-- <div id="hero_jaskin_tech">
                <i>J</i>ASKIN &nbsp;&nbsp; <i>T</i>ECH.
            </div> -->
            <div id="hero_section_text">
                <div class="cover">
                    <h1 id="hero_section_header">Get The Website <br> You Need</h1>
                    <h2 id="hero_section_subheader">
                        Join the digital revolution by leveraging the skills of
                        professionals. <br>
                    </h2>
                    <a class="action_button" href="/services/web_development/">Get Website Price</a>
                    <p id="hero_section_contact">Call Us &nbsp;&nbsp;(+233) 20 465 5978</p>
                </div>
            </div>
            <div id="hero_section_img">
                <div id="hero_section_img_frame">
                    <img src="images/code_computer4.webp" alt="An image of a desktop computer with a website on the screen">
                    <!-- <img src="images/datacenter4.jpeg" alt="A purple lit datacenter">
                    <img src="images/philosophy1.jpg" alt="A drone flying over a forest">
                    <img src="images/computer.jpeg" alt="A computer and a keyboare"> -->
                </div>
            </div>
        </section>

        <section id="hero_helper">
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/pc_and_smartphone.svg" alt="">
                </div>
                <div class="item_text"><p>User Centric Design</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/puzzle.svg" alt="">
                </div>
                <div class="item_text"><p>Custom Solutions</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/lightbulb.svg" alt="">
                </div>
                <div class="item_text"><p>Innovativeness</p></div>
            </div>
            <div class="item">
                <div class="item_image_frame">
                    <img src="/images/icons_svg/headset.svg" alt="">
                </div>
                <div class="item_text"><p>Reliable Aid</p></div>
            </div>
        </section>

        <section id="services">
            <div id="service_web_dev" class="scroll_slider"  style="background-color: #fff;">
                <div class="scroll_slider_visual">
                    <div class="scroll_slider_visual_header">
                        <header>WEB DEVELOPMENT</header>
                    </div>
                    <div class="scroll_slider_visual_video">
                        <img src="images/businesss_software.jpeg" alt="A laptop and a Tablet">
                    </div>
                </div>
                <div class="scroll_slider_text">

                    <div class="scroll_slider_item">
                        <header>Informational Websites</header>
                        <p>
                            This is the standard online presence. Get your information on the internet and boost your popularity, credibility and business.
                        </p>
                        <ul>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Portfolio Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Events Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Website for Schools
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Website for hotels
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Small Business Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Corporate Website
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                And Others
                            </li>
                        </ul>
                        <a href="/services/web_development/informational_website/" class="action_button">Check Product</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header>Blog Websites</header>
                        <p>
                            Get your engine to start your content journey.
                            Impress your audience with a beautiful website design 
                        </p>
                        <a href="/services/web_development/blog_website/" class="action_button">Check Product</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header>Commercial Websites</header>
                        <p>
                            Earn money over the internet with online payments,
                            inventory control, coupons, tickets etc. You can also have these features
                            integrated with your informational site.
                        </p>
                        <ul>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Ecommerce Stores
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Payment Portals
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Invoicing Systems
                            </li>
                        </ul>
                        <a href="/services/web_development/commercial_website/" class="action_button">Check Product</a>
                    </div>

                    <!-- <div class="scroll_slider_item">
                        <header>Web Applications</header>
                        <p>
                            Full Scale Enterprise Web Applications to solve real world problems. Build platforms,
                            automate processes, setup management systems and get your own software to solve your
                            unique needs.
                        </p>
                        <ul>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Hospital management
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Educational Websites
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Unique Apps
                            </li>
                            <li>
                                <ion-icon name="desktop-outline"></ion-icon>
                                Corporate Systems
                            </li>
                        </ul>
                        <a href="/services/web_development/web_application/" class="action_button">Check Product</a>
                    </div> -->

                </div>
            </div>
            
            <div id="service_marketing" class="scroll_slider mobile_flex_c_reverse" style="background-color: #f1f1f1;">
                <div class="scroll_slider_text">
                    <div class="scroll_slider_item">
                        <header>Search Engine Optimization</header>
                        <p>
                            Boost your site by ranking high in search engines - Google -
                            and enjoy the benefits of increased traffic to your site
                        </p>
                        <a href="/services/digital_marketing/search_engine_optimization/" class="action_button">Check Product</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header>Content Marketing</header>
                        <p>
                            Advertise your brand and grow your popularity and authority with content
                            that appeals to people and gets them intrested in you. From Blogs to video content, we'll help you grow smoothly
                        </p>
                        <a href="/services/digital_marketing/content_marketing/" class="action_button">Check Product</a>
                    </div>

                    <div class="scroll_slider_item">
                        <header>Email Marketing</header>
                        <p>
                            Keep your customers engaged with direct communication via Email.
                            Automate your marketing and provide regular updates and useful knowledge
                            to your prospects
                        </p>
                        <a href="/services/digital_marketing/email_marketing/" class="action_button">Check Product</a>
                    </div>
                </div>
                <div class="scroll_slider_visual">
                    <div class="scroll_slider_visual_header">
                       <header>DIGITAL MARKETING</header>
                    </div>
                    <div class="scroll_slider_visual_video"><img src="/images/digital_marketing.jpeg" alt="charts on a computer screen"></div>
                </div>
            </div>

            <!-- <div class="mobile_feild mobile_on" onclick="display_flex('service_business_software', this, 'mobile_feild_active')">
                <p>Business Software</p>
                <ion-icon name="caret-forward-outline"></ion-icon>
            </div>
            <div id="service_business_software" class="scroll_slider mobile_off">
                <div class="scroll_slider_visual">
                    <div class="scroll_slider_visual_header">
                        <header>BUSINESS SOFTWARE</header>
                    </div>
                    <div class="scroll_slider_visual_video"><img src="images/businesss_software.jpeg" alt=""></div>
                </div>
                <div class="scroll_slider_text">
                    <div class="scroll_slider_item">
                        <header>Voice Over Internet Protocol</header>
                        <p>
                            Your business can cut down cost by making a communication channel
                            that uses the internet instead of telecom providers.
                        </p>
                        <a href="" class="action_button">Check Product</a>
                    </div>
                    <div class="scroll_slider_item">
                        <header>Virtual Desktops</header>
                        <p>
                            Have a remote computer that can be logged into from anywhere on any other
                            machine. This means as long as there is access to the internet, you can access
                            your remote machine and continue work no matter where you are
                        </p>
                        <a href="" class="action_button">Check Product</a>
                    </div>
                    <div class="scroll_slider_item">
                        <header>Tech Consulting</header>
                        <p>
                            We help you find ways of improving your efficiency in the workplace
                            helping you better utilize technology. We will help you find tools that
                            you perhaps didn't know of that could improve your operations
                        </p>
                        <a href="" class="action_button">Check Product</a>
                    </div>
                </div>
            </div> -->
        </section>

        <section id="portfolio">
            <div id="portfolio_header">
                <div class="information_header">
                    <h3><i>P</i>ORTFOLIO.</h3>
                    <h4><i>S</i>EE <i>H</i>OW <i>W</i>E'VE <i>M</i>ADE <i>O</i>UR <i>C</i>USTOMERS <i>S</i>MILE</h4>
                </div>
            </div>
            <div id="portfolio_PC" class="mobile_off">
                <div id="portfolio_PC_track_right">
                    <div id="portfolio_PC_track_left">
                        <div class="portfolio_PC_item"><img src="images/mission12.jpeg" alt=""></div>
                        <div class="portfolio_PC_item"><img src="images/website_inspiration.jpeg" alt=""></div>
                        <div class="portfolio_PC_item portfolio_PC_current"><img src="images/site4.png" alt=""></div>
                        <div class="portfolio_PC_item"><img src="images/website_inspiration2.jpeg" alt=""></div>
                        <div class="portfolio_PC_item"><img src="images/website_inspiration3.jpeg" alt=""></div>
                    </div>
                </div>
                <div id="portfolio_PC_move_left" onclick="portfolio_scroll(1)"><ion-icon name="arrow-back-circle"></ion-icon></div>
                <div id="portfolio_PC_move_right" onclick="portfolio_scroll(0)"><ion-icon name="arrow-forward-circle"></ion-icon></div>
            </div>
            <div id="portfolio_MOBILE" class="mobile_on">
                <div id="portfolio_MOBILE_move_left" onclick="portfolio_scroll_mobile(1)"><ion-icon name="arrow-back-circle"></ion-icon></div>
                <div id="portfolio_MOBILE_track">
                    <div id="portfolio_MOBILE_track_right">
                        <div id="portfolio_MOBILE_track_left">
                            <div class="portfolio_MOBILE_item"><img src="images/mission12.jpeg" alt=""></div>
                            <div class="portfolio_MOBILE_item"><img src="images/website_inspiration.jpeg" alt=""></div>
                            <div class="portfolio_MOBILE_item portfolio_PC_current"><img src="images/site4.png" alt=""></div>
                            <div class="portfolio_MOBILE_item"><img src="images/website_inspiration2.jpeg" alt=""></div>
                            <div class="portfolio_MOBILE_item"><img src="images/website_inspiration3.jpeg" alt=""></div></div>
                    </div>
                </div>
                <div id="portfolio_MOBILE_move_right" onclick="portfolio_scroll_mobile(0)"><ion-icon name="arrow-forward-circle"></ion-icon></div>
            </div>
            <div id="portfolio_more"><a href="" class="action_button">See more Projects</a></div>
        </section>

        <section id="strength">
            <div class="information_header">
                <h3><i>J</i>ASKIN <i>T</i>ECH</h3>
                <h4><i>W</i>HAT <i>M</i>AKES <i>U</i>S <i>G</i>REAT</h4>
            </div>
            <div id="strength_frame">

                <div class="strength_item" id="strength_convenience">
                    <div class="strength_item_img">
                        <img src="images/icons_svg/convenient.png" alt="icon to represent convenience">
                    </div>
                    <div class="strength_item_text">
                        <header>We Offer <br>Convenience</header>
                    </div>
                </div>

                <div class="strength_item" id="strength_choice">
                    <div class="strength_item_img">
                        <img src="images/icons_svg/choice.svg" alt="icon to represent choice">
                    </div>
                    <div class="strength_item_text">
                        <header>Wide Variety Of <br> Choices</header>
                    </div>
                </div>

                <div class="strength_item" id="strength_price">
                    <div class="strength_item_img">
                        <img src="images/icons_svg/money.svg" alt="icon to represent money">
                    </div>
                    <div class="strength_item_text">
                        <header>Flexible Pricing <br> Your Budget-Your Terms</header>
                    </div>
                </div>

                <div class="strength_item" id="strength_speed">
                    <div class="strength_item_img">
                        <img src="images/speed.png" alt="icon to represent speed">
                    </div>
                    <div class="strength_item_text">
                        <header>Efficiency <br> At Warp Speed</header>
                    </div>
                </div>

                <div class="strength_item" id="strength_client">
                    <div class="strength_item_img">
                        <img src="images/public_relation.png" alt="icon of two hands shaking">
                    </div>
                    <div class="strength_item_text">
                        <header>We Value You <br> Our Client</header>
                    </div>
                </div>

                <!-- <div class="strength_item" id="strength_jaskin">
                    <div class="strength_item_img">
                        <img src="images/jas_display5.png" alt="">
                    </div>
                    <div class="strength_item_text">
                        <header>We Are <br> <span style="font-weight: 600;"><i>J</i>ASKIN <i>T</i>ECH</span></header>
                    </div>
                </div> -->
            </div>
        </section>

        <section id="about">
            <div id="about_text">
                <header>Promoting the Utilization of <br> Technology</header>
                <p>
                    JASKIN TECH is an agency that aims to help anyone from any industry with the need to 
                    apply Technology, have an easy and convinent way of accessing this marvelous tool.
                    Our vision is to expand our products and services to cover more technological needs
                    of our clients.
                </p>
                <p>
                    Technology has been responsible for the great advancement of the human race and everyone
                    - especially businesses - would do well to adopt and utilize this tool. Technology is changing
                    alot of industries, we aim to assist people ride the wave of change as smoothly as possible. 
                </p>
                <p>
                    We aim to keep growing and expanding, both in our geographical locations and in our products and 
                    services.
                </p>
                <div id="about_action">
                    <a class="action_button" href="/services/web_development/">See All Services</a>
                </div>
            </div>
            <div id="about_img">
                <div id="about_img_frame"><img src="images/computer2.jpeg" alt="computers in an office"></div>
            </div>
        </section>

        <section id="contact">
            <div class="information_header">
                <h3><i>C</i>ONTACT <i>U</i>S</h3>
                <h4><i>L</i>ET'S <i>S</i>TART <i>A</i> <i>D</i>ISCUSSION</h4>
            </div>
            <div id="contact_phone_frame">
                <div id="contact_phone">
                    <div id="contact_phone_cover"></div>
                    <div id="contact_phone_bezel"></div>
                    <div id="contact_phone_buttons">
                        <div class="contact_phone_buttons_item">
                            <ion-icon name="stop-outline"></ion-icon>
                        </div>
                        <div class="contact_phone_buttons_item">
                            <ion-icon name="ellipse-outline"></ion-icon>
                        </div>
                        <div class="contact_phone_buttons_item" onclick="contact_app('close')">
                            <ion-icon name="caret-back-outline"></ion-icon>
                        </div>
                    </div>
                    <div id="phone_home" class="phone_div">
                        <div class="phone_home_item"><img src="images/x_icon.png" alt="X icon"></div>
                        <div class="phone_home_item"><img src="images/facebook_icon.png" alt="Fackbook icon"></div>
                        <div class="phone_home_item"><img src="images/linkedin_icon.png" alt="Linkedin icon"></div>
                        <div class="phone_home_item"><img src="images/gmail_icon.png" alt="Gmail icon"></div>
                        <div class="phone_home_item" onclick="contact_app('phone')"><img src="images/phone_icon.png" alt="Phone App icon"></div>
                        <div class="phone_home_item"><img src="images/whatsapp_icon.png" alt="Whatsapp icon"></div>
                    </div>
                    <div id="contact_phone_app"></div>
                </div>
            </div>
            <form id="contact_form" action="https://api.web3forms.com/submit" onsubmit="clear_form(this)" method="POST">
                <input type="hidden" name="access_key" value="db46ff7f-97ca-47c2-acc2-f64146099bc7">
                <input type="hidden" name="from_name" value="Jaskin Tech Home">
                <input type="hidden" name="redirect" value="https://jaskin.tech/contact/success-thank_you">
                <div>
                    <label for="name">Your Name</label>
                    <input name="name" type="text" placeholder="Name" required>
                </div>
                <div class="half">
                    <label for="email">Your Email</label>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="half">
                    <label for="phone_number">Your Phone Number</label>
                    <input type="text" name="phone_number" placeholder="Phone (Optional)">
                </div>
                <div>
                    <label for="message">Your Message</label>
                    <textarea name="message" placeholder="Message us about your website project. Lets talk about the requirements, time, price or examples to get started" required></textarea>
                </div>
                <div>
                    <button type="submit" >Send, We'll Answer!</button>
                </div>
            </form>
        </section>

        <section id="explore">
            <div id="explore_header">Explore</div>
            <div id="explore_items">
                <div class="explore_item">
                    <header>Check Our Full Products And Services List</header>
                    <a href="" class="action_button">Explore</a>
                </div>
                <div class="explore_item">
                    <header>Increase Your Knowledge By Reading A Thing Or Two About Tech</header>
                    <a href="" class="action_button">Explore</a>
                </div>
                <div class="explore_item">
                    <header>See Some Fun Projects We've Built</header>
                    <a href="" class="action_button">Explore</a>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
    <script src="js/contact_phone.js"></script>
    <script src="js/app.js"></script>
    <script src="js/image_slide.js"></script>
</body>
</html>