#content{
    width: 90vw;
    padding: 20px 5vw;
    display: flex;
    justify-content: space-between;
}

#faq_nav{
    width: 20vw;
    height: fit-content;
    max-height: calc(100vh - 120px);
    position: sticky;
    top: 120px;
    border-left: 1px #c9c3c3 solid;
}
.faq_nav_current{
    background-color: #e3e1e1;
    box-shadow: 1px 1px 1px 1px #e7dede;
}
#faq_nav .item{
    width: 95%;
    display: flex;
    align-items: center;
    padding: 15px 0 15px 10px;
    cursor: pointer;
}
#faq_nav .item:hover{
    box-shadow: 1px 1px 1px 1px #c9c3c3;
}
#faq_nav .item p{
    font-size: 3.1em;
}




#faq_section{
    width: 65vw;
    padding-left: 40px;
}
.faq_current{
    display: flex !important;
}
.faq_section_item{
    width: 100%;
    display: none;
    flex-direction: column;
}

.faq_section_header{
    width: 96%;
    padding: 30px 2%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 14px 10px #d7d4d9;
    border-radius: 5px;
    margin-bottom: 50px;
}
.faq_section_header h3{
    font-size: 5.2em;
    font-family: var(--work-cabin-ver);
    letter-spacing: 2px;
}


.faq_section_content{
    width: 94%;
    padding: 40px 3%;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px 6px #d7d4d9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.faq_topic{
    width: 100%;
    border-bottom: 1px #c9c3c3 solid;
}
.faq_topic .faq_topic_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    min-height: fit-content;
    padding: 20px 2%;
    cursor: pointer;
}
.faq_topic .faq_topic_header:hover{
    background-color: #e3e1e1;
    box-shadow: 1px 1px 1px 1px #c9c3c3;

}
.faq_topic .faq_topic_header header{
    font-size: 3.3em;
    font-weight: 600;
    font-family: var(--sans);
}
.faq_topic .faq_topic_header ion-icon{
    display: block;
    font-size: 5em;
    padding: 0 3px;
    flex-shrink: 0;
}

.faq_topic .faq_topic_content{
    display: none;
    width: 96%;
    padding: 10px 2%;
    padding-bottom: 30px;
}

.faq_topic p{
    font-size: 3.3em;
    font-family: var(--cabin-sans);
    color: var(--txt-soft);
    line-height: 160%;
    margin-bottom: 5px;
}
.faq_topic a{
    font-size: 3.3em;
    font-family: var(--cabin-sans);
    color: var(--at-bg);
    line-height: 160%;
    margin-bottom: 5px;
    border-bottom: 1px var(--at-bg) solid;
}
.faq_topic ul{
    margin: 15px 0;
    color: var(--txt-soft);
}
.faq_topic ul li{
    list-style: none;
    font-size: 2.9em;
    margin-bottom: 10px;
    padding-left: 3%;
}

@media (max-width: 850px) {
    #content{
        flex-direction: column;
    }
    #faq_nav{
        width: 98%;
        margin-left: 2%;
        border-left: none;
        position: relative;
        top: 0;
        margin-bottom: 50px;
    }
    
    #faq_section{
        width: 96%;
        padding: 10px 2%;
    }
    .faq_topic{
        width: 96%;
    }
    
}
@media (max-width: 550px) {
    .faq_section_header{
        margin-bottom: 10px;
        justify-content: center;
    }
    .faq_section_header h3{
        text-align: center;
    }
    #content{
        width: 98vw;
        padding: 20px 1vw;
    }    
    #faq_nav .item p{
        font-size: 3.3em;
    }
}
