#hero_section{
    width: 100vw;
    height: calc(80vh - 70px);
    padding-top: 70px;
    display: flex;
    margin-bottom: 50px;
}

#hero_lobby{
    width: 65%;
    background: var(--su-bg);
}


#hero_description{
    width: 30%;
    padding-left: 3%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--cabin-ver);
}
#hero_description header{
    font-size: 8em;
    margin-bottom: 20px;
}
#hero_description p{
    font-size: 3.5em;
    line-height: 150%;
    margin-bottom: 30px;
    color: var(--txt-soft3);
}

@media (max-width: 800px) {
    #hero_section{
        flex-direction: column;
        height: fit-content;
    }
    #hero_lobby{
        width: 100%;
        height: 60vh;
    }
    #hero_description{
        width: 80%;
        padding-top: 25px;
        padding-left: 9%;
    }
}

