<footer>
    <div id="footer_header">
        <p><i>D</i>O <i>Y</i>OU <i>W</i>ANT <i>T</i>O <i>S</i>EE <i>S</i>OMETHING <i>I</i>NTRESTING...<i>?</i></p>
        <a href="#" class="action_button">EXPLORE</a>
    </div>
    <div id="footer_main">
        <div id="footer_links">
            <div id="footer_actions">
                <header><i>F</i>IND <i>O</i>PORTUNITIES <i>W</i>ITH <i>U</i>S</header>
                <a><i>B</i>ECOME <i>A</i> <i>P</i>ARTNER</a>
                <a><i>C</i>AREER <i>/</i> <i>O</i>PEN <i>P</i>OSITIONS</a>
            </div>
            <div id="footer_pages">
                <header><i>N</i>AVIGATE</header>
                <a href=""><i>P</i>RODUCTS</a>
                <a href=""><i>A</i>BOUT</a>
                <a href=""><i>P</i>ORTFOLIO</a>
                <a href=""><i>B</i>LOG</a>
                <a href=""><i>S</i>ERVICES</a>
            </div>
        </div>
        <div id="footer_improve">
            <header><i>B</i>USINESS</header>
            <div>
                <p><i>S</i>CHEDULE <i>A</i>N <i>A</i>PPOINTMENT</p>
                <a href="/appointment/" class="action_button">SCHEDULE</a>
            </div>
            <div>
                <p><i>D</i>ROP <i>A</i> <i>H</i>INT, <i>T</i>IP OR <i>S</i>UGGESTION</p>
                <textarea></textarea>
                <button>DROP</button>
            </div>

        </div>
        <div id="footer_ai_images">
            <img id="ai_images1" src="/images/man7.jpeg" alt="A man sitting at a cliff">
            <img id="ai_images2" src="/images/man4.jpeg" alt="A man sitting at a cliff">
        </div>
    </div>
    <div id="copyright">Copyright © 2023 JASKIN TECH</div>

</footer>