---
title: About Us | Jaskin Tech Website Development
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include base_head.html %}
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/text_scroll.css">
    <link rel="stylesheet" href="css/content.css">
</head>
<body>
    {% include default_nav.html %}
    <main>        
        <section class="content_section mobile_flex_c_reverse">
            <div class="content_text">
                <h2 id="main_header">Nice to meet you</h2>
                <p>
                    We are Jaskin Tech, a web development agency that believes in the power of technology and it's ability to work for you. 
                    We design, develop, and deliver websites that aren't just visually appealling, but provide you with a strong marketing engine.  
                </p>
            </div>
            <div class="content_img"><img src="/images/about_us2.jpg" alt=""></div>
        </section>

        <section class="content_section">
            <div class="content_img"><img src="/images/philosophy4.jpg" alt=""></div>
            <div class="content_text">
                <h2>Merging Artistry and Functionality</h2>
                <p>
                    Our Web Design philosophy emphasizes functionality alongside aesthetics.
                </p>
                <p>
                    Clear communication and Brand Consistency is what helps us build sites that are not only visually pleasing, but serve their intended purpose effectively. 
                </p>
            </div>
        </section>

        <section class="content_section mobile_flex_c_reverse">
            <div class="content_text">
                <h2> Catching the Innovation Wave</h2>
                <p>
                    Here at Jaskin Tech we believe in constant learning and improvement.
                    We do not keep our brains idle but are always on the look out for new inventions and better ways of getting things done. 
                </p>
                <p>This does not mean we are always chasing the Hype. We make sure to test and confirm new methods before applying them to your project </p>
            </div>
            <div class="content_img"><img src="/images/tech_inno.jpg" alt=""></div>
        </section>

        <section class="content_section">
            <div class="content_img"><img src="/images/tech_growth.jpg" alt=""></div>
            <div class="content_text">
                <h2>Our Future And Growth</h2>
                <p>
                    It is our dream to mean more to you than just a web agency.
                    We aim to expand and become a one stop tech shop for everyone.
                    From writing software for systems to providing business tech and even
                    hardware installations for organizations, providing both the technology and the training to use it.
                </p>
            </div>
        </section>

        <section class="content_section mobile_flex_c_reverse">
            <div class="content_text">
                <h2>Clients: Our Heartfelt Connections</h2>
                <p>
                    Not to get emotional, but you mean everything to us. 
                    Your needs shape the services we provide. The experiences we share, both good and bad,
                    will contribute to our professional growth. Your support keeps us motivated, and we won't be 
                    considering a career change anytime soon.
                </p>
            </div>
            <div class="content_img"><img src="/images/heart.jpg" alt=""></div>
        </section>

        <section class="content_section">
            <div class="content_img"><img src="/images/start_work2.jpg" alt=""></div>
            <div class="content_text">
                <h2>Start Work On Your Project</h2>
                <p>
                   Let's begin our journey together! We promise quality service that would give you value in return. 
                </p>
                <p>Explore our services to find what suits your need</p>
                <a href="" class="action_button">Our Services</a>
                <p>Contact us for direct communication, inquires and consultation</p>
                <a href="" class="action_button">Contact Us</a>
                <p>Have a question? Our Frequently Asked Questions may have your answer</p>
                <a href="" class="action_button">Frequently Asked Questions</a>
            </div>
        </section>
    </main>
    {% include footer.html %}
</body>
</html>