@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --ma-bg: #f5eef9;
    --ma-bg-gradient: linear-gradient(22deg, #efefef, #e2e2e2, #e2e2e2, #efefef);
    --su-bg: #0c0610;
    --su-bg-gradient: linear-gradient(22deg, #0c001b , #1e0638 43% 56%, #110023);
    --at-bg: #7325c6;
    --su-bg-gradient2: linear-gradient(190deg, #0d011b, #120127, #120127, #100124, #000);
    /* --at-bg: green; */
    --txt-soft: #444;
    --txt-soft3: #333333;
    --txt-bright: #aeb7c2;
    --sans: Oscine, sans-serif;
    --cam: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --verdana: Verdana, Geneva, Tahoma, sans-serif;
    --cabin-ver: "Cabin", Verdana, Geneva, Tahoma, sans-serif;
    --cabin-sans: "Cabin", Oscine, sans-serif;
    --work-sans: "Work Sans", Oscine, sans-serif;
    --work-ver: "Work Sans", Verdana, Geneva, Tahoma, sans-serif;
    --work-cabin-ver: "Work Sans", "Cabin", Verdana, Geneva, Tahoma, sans-serif;
    --mons: "Montserrat", Arial, Tahoma, sans-serif;
    font-size: 5px;
}
input:focus, textarea:focus{
    outline: none;
}
button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body{
    width: 100vw;
    font-family: var(--cabin-ver);
    background-color: var(--ma-bg);
    color: #111;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background: var(--su-bg);
}
body::-webkit-scrollbar-thumb{
    background: #999;
}
a{
    text-decoration: none;
}
main{
    padding-top: 65px;
}

.action_button{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    font-size: 2.5em;
    font-weight: 600;
    background: var(--at-bg);
    color: var(--ma-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 1px 1px #111;
    overflow: hidden;
}
.action_button ion-icon{
    font-size: 130%;
    margin: 0 3px;
}




.mobile_on{
    display: none !important;
}

@media (max-width: 550px) {
    .information_header{
        flex-direction: column;
    }

    .mobile_flex_c_reverse{
        flex-direction: column-reverse !important;
    }

    .mobile_on{
        display: flex !important;
    }
    .mobile_off{
        display: none !important;
    }
}

nav{
    width: 96vw;
    padding: 5px 2vw;
    height: 60px;
    max-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#logo img{
    width: 40px;
    height: 40px;
}
#logo p{
    font-size: 3em;
    font-weight: 600;
    margin-left: 10px;
    font-family: var(--verdana);
}
#logo p i{
    font-size: 150%;
}
#nav_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.nav_right_main{
    position: relative;
    list-style-type: none;
    width: 25%;
    min-width: fit-content;
    height: 100%;
    font-size: 2.4em;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
.nav_right_main:hover{
    border-bottom:2px #000 solid;
}
.nav_right_main a{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_right_main a ion-icon{
    margin-left: 3px;
    font-size: 120%;
}
#nav_right .action_button{
    padding: 15px 20px;
    width: fit-content;
    height: fit-content;
    font-size: inherit;
    font-weight: 400;
}
.nav_dropdown_parent:hover .nav_dropdown{
    display: block;
}

.nav_dropdown{
    position: absolute;
    display: none;
    width: 200px;
    top: 100%;
    margin-left: -20px;
    background-color: #fff;
}
.nav_dropdown li{
    width: 100%;
    height: 50px;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_dropdown li a:hover{
    background: #000;
    color: #ccc;
}



#nav_dropdown_menu{
    position: absolute;
    width: 96vw;
    padding: 10px 2vw;
    margin-left: -2vw;
    height: calc(90vh - 80px);
    background: var(--su-bg);
    top: -1000%;
    display: none;
    flex-wrap: wrap;
    transition: 0.5s;
    z-index: 90;
}
#nav_dropdown_main{
    width: 55%;
    height: 95%;
    overflow-y: auto;
}
#nav_dropdown_main::-webkit-scrollbar{
    width: 5px;
}
#nav_dropdown_main::-webkit-scrollbar-track{
    background-color: var(--ma-bg);
}
#nav_dropdown_main::-webkit-scrollbar-thumb{
    background-color: var(--at-bg);
}
#nav_dropdown_main .action_button{
    padding: 10px 15px;
    margin-bottom: 40px;
}
#nav_dropdown_main .item{
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
}
#nav_dropdown_main .item .item_image_frame{
    width: 15vw;
    height: 50px;
    margin-right: 5vw;
}
#nav_dropdown_main .item p{
    font-size: 2.9em;
}

#nav_dropdown_sub{
    width: 45%;
    height: 100%;
}
#nav_dropdown_sub img{
    object-fit:contain
}
#nav_menu_header{
    width: 100%;
    height: fit-content;
}
#nav_menu_header header{
    font-size: 4.5em;
    font-family: var(--cabin-ver);
    margin-bottom: 5px;
}
#nav_menu_header .action_button{
    font-size: 2em;
    padding: 10px 15px;
}
@media (max-width: 550px) {
    #nav_dropdown_sub{
        display: none;
    }
    #nav_dropdown_main{
        width: 100%;
    }
    #nav_dropdown_main .item .item_image_frame{
        width: 35vw;
        margin-right: 10vw;
    }
    
}
@media (max-width: 900px) {
    nav .mobile_off{
        display: none !important;
    }
    nav .mobile_on{
        display: flex !important;
    }
}