main{
    padding: 0;
    width: 96%;
    max-width: 70vw;
    padding: 0 2% 100px 2%;
    background: var(--ma-bg);
    font-family: var(--cabin-sans);
    
}
#main_img{
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#blog_header{
    width: 100%;
    padding-top: 25px;
}
#blog_header h1{
    text-align: center;
    font-size: 8em;
    margin-bottom: 20px;
}
#blog_summary{
    width: calc(100% - 20px);
    padding: 15px 10px;
    border-left: 5px #f53f3f solid;
    background: #f7f7f7;
    font-family: var(--cabin-ver);
    margin-bottom: 30px;
}
#blog_summary header{
    font-size: 3.2em;
    font-weight: 600;
}
#blog_summary p{
    font-size: 3em;
    line-height: 140%;
}
#blog_content{
    width: 95%;
    padding: 0px 5% 0 0;
}
#blog_content h1{
    font-size: 6em;
    margin-bottom: 10px;
    margin-top: 50px;
}
#blog_content h2{
    font-size: 4em;
    margin-bottom: 5px;
    margin-top: 30px;
    color: #222;
}
#blog_content h3{
    font-size: 4em;
    margin-bottom: 15px;
    margin-top: 30px;
}
#blog_content p{
    font-size: 3.8em;
    margin-bottom: 10px;
    color: var(--txt-soft3);
    line-height: 160%;
}

#page{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#menu{
    /* display: none; */
    width: 30%;
    max-height: 100vh;
    max-width: 230px;
    min-width: 200px;
    position: sticky;
    top: 0px;
    padding-top: 10px;
    border-left:1px #ddd solid ;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu_item{
    width: 85%;
    padding: 10px 10% 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #ddd solid;
    cursor: pointer;
}
.menu_item:hover{
    background: #fff;
}
.menu_item p{
    font-size: 2.8em;
}
.menu_item ion-icon{
    font-size: 4em;
}

.menu_item_list{
    width: 85%;
    padding: 10px 10% 10px 5%;
    border-bottom: 1px #ddd solid;
    cursor: pointer;
}
.menu_item_list p{
    font-size: 2.8em;
    margin-bottom: 3px;
}
.menu_item_list ul{
    width: 95%;
    margin-left: 5%;
}
.menu_item_list ul li{
    list-style: none;
    width: 96%;
    padding: 8px 2%;
    font-size: 2.7em;
}
.menu_item_list ul li:hover{
    box-shadow: 1px 1px 1px 1px #ddd;
}


@media (max-width: 600px) {
    #menu{
        display: none;
    }
    main{
        width: 96%;
        padding: 0;
        padding-bottom: 80px;
        max-width: 100vw;
    }
    #main_img{
        height: 50vh;
    }
    #blog_header h1{
        font-size: 5em;
    }
    #blog_content{
        width: 90%;
        padding: 0 5%;
    }
    #blog_content h1{
        font-size: 4.5em;
        text-align: center;
    }
    #blog_content p{
        font-size: 3.3em;
    }
}