main{
    padding-top: 60px;
}

#hero_section{
    width: 100vw;
    height: 60vh;
    display: flex;
    background: var(--su-bg);
    color: #ddd;
}
#hero_section_text{
    width: 40%;
    padding: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hero_section_text h1{
    font-size: 9em;
    font-family: var(--work-cabin-ver);
    margin-bottom: 40px;
    flex-shrink: 0;
}
#hero_section_text h2{
    font-size: 4.4em;
    font-weight: 400;
    font-family: var(--cabin-ver);
    line-height: 160%;
    margin-bottom: 20px;
}


#hero_section_img{
    width: 50%;
}
/* #hero_section_img img{
    object-fit: contain;
} */


@media (max-width: 650px) {
    #hero_section{
        height: fit-content;
        flex-direction: column-reverse;
    }
    #hero_section_text{
        width: 80%;
        height: fit-content;
        padding: 50px 10%;
    }

    #hero_section_img{
        width: 100%;
        height: 50vh;
    }
}