---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {%include base_head.html %}
    <link rel="stylesheet" href="/blog/blogs_css/style.css">
    {%include blog_font_family_choice.txt%}
</head>
<body>
    {%include default_nav.html%}
    <div id="page">
        <div id="like_blogs">
            {%for blog in site.blogs%}
            <a href="{{blog.url}}" class="like_blogs_item">
                {{blog.title}}
            </a>
            {%endfor%}
        </div>
        <main>
            <div id="main_img"><img src="/images/{{page.main_img}}" alt=""></div>
            <div id="blog_summary">
                {{page.summary}}
            </div>
            <section id="blog_content">
                {{content}}
            </section>
        </main>
    </div>
    {%include footer.html%}
</body>
</html>